/Authentications views files
/cache files
/cookie
/cookie1
/customsignal
/forms files
/Login files
/mcdt
/messageframework
/messageframework1
/messageframework2
/Middleware files
/Models files
/pagecounter
/paginations files
/permisnandauthorization
/Queryset
/Queryset1
/Queryset2
/QuerysetAGGRegation
/resumeproject
/sessions files
/Signal
/staictinsideproject
/staticinsideapp
/Templates files
/trackIP
/urls files
/users files
/VIEWS FILES